DATABASE_URL="mysql://root:senha@localhost:3306/sanprev"

NEXTAUTH_SECRET="troque-isto-em-producao-use-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true

SEED_ADMIN_EMAIL="admin@sanprev.local"
SEED_ADMIN_PASSWORD="sanprev2026"
